<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQz4A7GouckX30ZuWfgFu8SwRmIkHHq2I</string>
	<key>GCM_SENDER_ID</key>
	<string>114934148574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nihaar</string>
	<key>PROJECT_ID</key>
	<string>nihaar-88365</string>
	<key>STORAGE_BUCKET</key>
	<string>nihaar-88365.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114934148574:ios:42cb39b2ee663ea889414f</string>
</dict>
</plist>